.box {
    width: 100px;
    height: 100px;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.locate {
    /* position: static; */
    /* position: relative; */
    position: sticky;
    /* position: absolute; */
    /* position: fixed; */
    left: 30px;
    top: 30px;
}